// font family

$poppins:Poppins;
$dancing:Dancing Script;
$playfair-display:Playfair Display;


// colors

$white:#fff;
$black:#000;
$brown:#56443E;
$grey:#5C5C5C;

// mixins



@mixin flex-regular {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
