@import '../../styles/vars.scss';

.shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    width: 100%;
    max-width: 202px;
    height: 60px;
    border: 1px solid $brown;
    span {

        font-family: $poppins;
        font-size: 0.688rem;
        font-weight: 600;
        color: $brown;
        
    }
}